.text-center{
  text-align: center;
}

.bg-blue{
  background: lightslategrey;
}

.mx-auto{
  margin: auto;
}

.border{
    border: 8px solid black;
    border-radius: 35px;
  }
  
.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.container{
    position: absolute;
    left:34%;
    
}
